/* Reset some default browser styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
* {
  padding: 0;
  margin: 0;
}

/* Default anchor tag styling */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

body,
html{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #013334;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(7px);
    z-index: -1;
}

.h-content {
    position: relative;
    padding: 20px;
    z-index: 1;
    height: 100%;
}

main {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    padding-left: 30px;
}

.cust-navbar {
    float: right;
    margin-left: auto;
    margin-right: auto;
}

.nav-item a {
    color: #013334 !important;
}

.nav-item a:hover {
    color: linear-gradient(to top, #a8edea 0%, #fed6e3 100%) !important;
    opacity: 0.8;
    transition: 0.3s;
}

.container {
    max-width: 800px;
}

.custom-container-1 .intro-container .header-content {
    padding-left: 8%;
}

.header-content h1 {
    margin: 0;
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1em;
    color: #dddddd;
    margin: 20px 0;
}

.header-content .header-cta {
    margin-bottom: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-container-1 {
    padding-top: 250px;
    padding-left: 100px;
}

.header-cta {
    display: flex;
    margin-top: 4%;
    gap: 2%;
}

.header-cta a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    border-radius: 5px;
    padding: 15px 30px;
}

.header-cta a:first-child {
    background-color: #fff;
    color: #012011;
}

.header-cta a:last-child {
    background-color: #0FC66E;
    color: #012011;
}

.header-cta a:first-child:hover {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    border: 0.5px solid #ececec;
    opacity: 0.9;
    transition: 0.3s ease-in-out;
}

.header-cta a:last-child:hover {
    background-image: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
    border: 0.5px solid #c8eddb;
    opacity: 0.9;
    transition: 0.3s ease-in-out;
}

.header-cta a:hover {
    text-decoration: none;
}

/* 1 on 1 Mentorship */
.m-container .mentorship-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.m-container .mentorship-content .mentorship-image{
    align-self: center;
}

.m-container .m-my{
    margin-bottom: 50px;
}

.mentorship-text {
    max-width: 460px;

}

.mentorship-image {
    max-width: 460px;
}

.mentorship-image img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.mentorship-text h2 {
    font-size: 38px;
    font-weight: 700;
    color: #000;
}

.mentorship-text p {
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    color: #000;
}

.mentorship-text ul {
    margin-top: 15px;
    list-style-type: disc;
}

.mentorship-text ul li {
    font-size: 14px;
    font-weight: 100;
    line-height: 26px;
    color: #3a3a3a;
}

.mentorship-container {
    display: flex;
    text-align: center;
    margin: auto;
}

.mentorship-heading h2 {
    font-size: 38px;
    font-weight: 700;
}

.mentorship-heading p {
    font-size: 16px;
    font-weight: 200;
    color: #1d1c1c;
}

/* Account Management */
.account-container {
    text-align: center;
}

.a-m-container {
    padding: 0 40px;
}

.management-text h2 {
    font-size: 38px;
    font-weight: 700;
    color: #000;
}

.management-text p {
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    color: #000;
}

.account-management-card {
    width: 100%;
    background-color: #f8f8f8;
    text-align: left;
    border-radius: 20px;
    box-shadow: 22px 22px 28px -19px rgba(158, 158, 158, 0.2);
    -webkit-box-shadow: 22px 22px 28px -19px rgba(158, 158, 158, 0.2);
    -moz-box-shadow: 22px 22px 28px -19px rgba(158, 158, 158, 0.2);
    padding: 60px 40px;
}

.account-management-card-text h4 {
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

.account-management-card-text p {
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    color: #000;
}

.first-card-m {
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

.second-card-m {
    background-image: linear-gradient(to bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.third-card-m {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.fourth-card-m {
    background-image: linear-gradient(-60deg, #abecd6 0%, #fbed96 100%);
}

.account-management-card-text ul li {
    font-size: 14px;
    font-weight: 100;
    line-height: 26px;
    color: #3a3a3a;
}

.a-m-container .management-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 5%;
}

.a-m-container .management-content:first-child {
    margin-bottom: 5%;
}

.account-management-card-c {
    position: relative;
}

.container-icon {
    position: absolute;
    top: -35px;
    left: 0px;
}

/* Traning */
.training-heading h2 {
    font-size: 38px;
    font-weight: 700;
}

.training-cont {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    padding: 0 0 20px 0;
}

.training-level {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 60px auto;
    padding: 20px;
    gap: 20px;
}

.training-level .training-card {
    padding: 26px;
    border-radius: 8px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 10px 23px -3px rgba(195, 195, 195, 0.53);
    -webkit-box-shadow: 0px 10px 23px -3px rgba(195, 195, 195, 0.53);
    -moz-box-shadow: 0px 10px 23px -3px rgba(195, 195, 195, 0.53);
}

.training-level .training-card img {
    width: 100%;
    aspect-ratio: 16/8;
    border-radius: 5px;
    object-fit: cover;
}

.training-card .content h2 {
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 28px;
}

.training-card .content ul {
    list-style-type: circle;
    padding: 0 0 0 25px;
}

.training-card .content ul li {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #474747;
}

.training-card .content .learn-more-c .learn-more {
    background-color: #F8F8F8;
    text-decoration: none;
    font-size: 13px;
    color: #045f33;
    border: 1px solid #F0D9E3;
    border-radius: 5px;
    padding: 10px 20px;

}

.training-card .content .learn-more-c .learn-more:hover {
    background-color: #F0D9E3;
    border: 1px solid #F0D9E3;
    transition: linear 0.3s;
}

.offcanvas {
    width: 600px !important;
    background-image: linear-gradient(to top, #F8F8F8 0%, #F8F8F8 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    padding-left: 20px;
}

.offcanvas-title {
    font-size: 24px !important;
    font-weight: 500 !important;
}


/* Testimonies */
.next-previous a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-right: 20px;
}

.testimony-text h2 {
    font-size: 38px;
    font-weight: 700;
}

.testimony-text p {
    font-size: 16px;
    font-weight: 200;
    color: #1d1c1c;
}

.testimonies-card-c {
    margin: auto;
    display: flex;
}

.card-ml {
    margin-left: 25px;
}

.testimonies-card {
    width: 400px;
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 30px 30px;
    box-shadow: 0px 10px 15px 1px rgba(199,199,199,0.62);
    -webkit-box-shadow: 0px 10px 15px 1px rgba(199,199,199,0.62);
    -moz-box-shadow: 0px 10px 15px 1px rgba(199,199,199,0.62);
}

.testimonies-content {
    max-width: 50rem;
    min-height: 18.75rem;
    margin: auto;
    margin-bottom: 30px;
}

/* Swipper */
.swiper {
    max-width: 75%;
    min-height: 20vh;
    padding: 400px 200px;
}

.s-btn-prv, .s-btn-nxt {
    font-size: 20px !important;
    color: #0FC66E !important;
    transition: fill ease-in-out;
    fill: #0FC66E;
}


div.swiper-button-next, div.swiper-button-prev {
    top: 50%;
}

div.swiper-button-prev {
    left: 0;
}

div.swiper-button-next {
    right: 0;
}

.testimonies-card p {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    color: #000;
}

.testimonies-card .profile {
    margin-top: 10px;
}

.testimonies-card .profile span img {
    border-radius: 50%;
    border: 5px solid #f7f0f0;
    margin-right: 15px;
}

.testimonies-card .profile span {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #1a1919;
}

.testimonies-card .profile .rating {
    margin-left: 90px;
    margin-top: -10px;
}

.next-previous a:hover {
    cursor: pointer;
    background-color: #ddd;
    color: #000;
}

.prv-nxt {
    margin: auto 100px;
}

.prv-nxt svg {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 0px 128px 11px rgba(199, 195, 195, 0.64);
    -webkit-box-shadow: 0px 0px 128px 11px rgba(199, 195, 195, 0.64);
    -moz-box-shadow: 0px 0px 128px 11px rgba(199, 195, 195, 0.64);
}

.prv-nxt svg:hover {
    cursor: pointer;
    background-color: #fef9f9;
    transition: 0.2s;
}

/* Pricing */
.pricing-container {
    padding: 100px 0 200px 0;
}

.price-list ul, .price-list h1{
    margin: 0;
    padding: 0;
}

.price-list .card-body {
    padding: 0;
    margin: 0;
}

.price-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.pricing-text h2 {
    font-size: 38px;
    font-weight: 700;
}

.pricing-text p {
    font-size: 16px;
    font-weight: 200;
    color: #1d1c1c;
}


.custom-card {
    max-width: 460px;
    min-height: 380px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border-radius: 8px;
    border: 0.5px solid #e9e5e5;
    padding: 20px 25px;
}

.custom-card:hover {
    background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
    box-shadow: -7px 10px 48px -5px rgba(105, 97, 97, 0.75);
    -webkit-box-shadow: -7px 10px 48px -5px rgba(105, 97, 97, 0.75);
    -moz-box-shadow: -7px 10px 48px -5px rgba(105, 97, 97, 0.75);
    transition: 0.8s ease-in-out;
}

.custom-card .card-heading h4 {
    font-size: 20px;
    font-weight: 500;
    color: #1d1c1c;
}

.card-title {
    font-size: 22px;
    font-weight: 500;
    color: #1d1c1c;
}

.card-title {
    margin: 0;
    padding: 0;
}

.price-list .card-body {
    padding: 10px 20px 0 20px;
}

.custom-card .card-ul ul {
    padding: 10px 0 40px 20px;
}

.custom-card .card-ul ul li {
    font-size: 14px;
    font-weight: 300;
    color: #1d1c1c;
}

.price-btn-c {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.price-btn-c button {
    width: 100%;
    background-color: #f9f1f4;
    font-size: 16px;
    font-weight: 400;
    color: #1d1c1c;
    outline: none;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
}

.price-btn-c button:hover {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    transition: 1.2s ease-in-out;
}

@media screen and (max-width: 1003px) {
    .price-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

  /* @media screen and (max-width: 768px) {
    .slide p {
      padding: 0 20px;
    }
    .nav-btn {
      display: none;
    }
  } */



/* Footer  */
.footer-top {
    background-color: #f1f5fb;
    color: #012222;
    border: 1px solid #dddddd;
    padding: 30px 0 30px 0;
}

.footer-top-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

.footer-top p {
    font-size: small;
    color: #6a6a6a;
}

.footer-top .input-group {
    display: flex;
    justify-content: space-around;
}

/* Footer Down */
.footer-down {
    background-color: #ffffff;
    color: #012222;
    padding: 30px 0 30px 90px;
}

.f-d-content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.footer-down p {
    color: #6a6a6a;
}

.footer-social {
    margin-top: 40px;
}

.footer-social ul {
    display: inline-flex;
}

.footer-social ul li {
    padding-right: 10px;
}

.footer-social ul li a {
    font-size: 18px;
}

.footer-social img {
    background-color: #e9e9e9;
    border-radius: 4px;
    padding: 3px;
    margin-right: 5px;
}

.footer-down ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-down h5 {
    font-size: 18px;
    color: #013e3e;
    font-weight: 200;
}

.footer-down li a {
    text-decoration: none;
    font-size: 14px;
    color: #6a6a6a;
}

.footer-down li a:hover {
    color: #005d5d;
    opacity: 0.8;
    transition: 0.3s;
}

.footer-hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer-hr hr {
    height: 12px;
}

.sb {
    padding-bottom: 10px;
}

/* Footer Last */
footer .footer-last {
    display: flex;
    justify-content: center;
}

/* Responsiveness */
/* Training */

@media (max-width: 1200px) {
    .training-level .training-card {
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .training-level {
        margin: 0 auto;
    }
}
